body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.square__row {
  display: flex;
  align-items: center;
}

.square__row button {
  font-size: 30px;
  font-weight: 500;
}
.square__status {
  font-size: 23px;
  margin-bottom: 4px;
}

